.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-thumbnail{
    text-align: center;
}
.wp-block-cgb-block-my-block{
    background-color: rgb(40, 105, 161);
    color:white;
}
/*.site-header{
	display: none;
}*/


.conteneurGlobal{
	display: flex;
	flex-direction: row;
	margin-left: 1%;

	div{
		margin-left: 1%;
	}
	img{
		width:150px;
		height:150px;
		min-width: 150px;
		min-height: 150px;
	}
}
.conteneurGlobalImage{
	display: flex;
	justify-content: space-around;
	margin-left: 1%;
	h4{
		margin-left: 1%;
	}
	img{
		width:150px;
		height:150px;
		min-width: 150px;
		min-height: 150px;
	}
}
.menu-toggle{
	display:none;
}
.Titre{
	padding: 50px;
	color: rgb(172, 38, 38);
}
.site-main{
	display: grid; 
	grid-template-columns:repeat(3,1fr); 
	grid-template-rows:repeat(1, 1fr); 
	border:2px solid ;
	border-color: rgb(245, 154, 93);
	margin: 20px;
}
.grid{
	border:2px solid ;
	border-color: rgb(245, 154, 93);
	padding: 10px;
	margin: 10px;
}
.titre-evenement{
	text-align: center;
	color: rgb(250, 123, 64);
}
